//You can put global CSS variables or classes here

.container {
  padding: 0 0.85rem;
}

.btn-action {
  height: 0.6rem;
  padding: 0.19rem 0.34rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.18rem;
  font-weight: 600;
  color: white;
  border-radius: 0.06rem;
  border: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border-gradient {
  border: solid 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.font-100 {
  font-weight: 100;
}
.font-200 {
  font-weight: 200;
}
.font-300 {
  font-weight: 300;
}
.font-400 {
  font-weight: 400;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
.font-700 {
  font-weight: 700;
}
.font-800 {
  font-weight: 800;
}
.font-900 {
  font-weight: 900;
}

.grid {
  display: grid;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.uppercase {
  text-transform: uppercase;
}

.form-input {
  width: 100%;
  height: 0.48rem;
  border-radius: 4px;
  padding: 0.06rem 0.2rem;
  font-family: Montserrat;
  font-size: 0.14rem;
  background: rgba(255, 255, 255, 0.1);
}
