//You can put global CSS variables or classes here

$background-primary: linear-gradient(100.62deg, #3A71FF 48.27%, rgba(121, 58, 255, 0) 203.77%);

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
