//You can put global CSS variables or classes here

.container {
  padding: 0 0.85rem;
}

.btn-action {
  padding: 0.19rem 0.34rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.18rem;
  font-weight: 600;
  color: white;
  border-radius: 0.06rem;
  border: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-rodin-loader {
  display: inline-flex;
  width: 2em;
  height: 2em;
  background-image: url('assets/images/icons/loader.svg'); // TODO : Need to change loader icon once the gif is ready from designer end
  background-size: contain;
  background-repeat: no-repeat;
}