body, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, p, form, input, button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 0.36rem;
}

h2 {
  font-size: 0.32rem;
}

h3 {
  font-size: 0.28rem;
}

h4 {
  font-size: 0.24rem;
}

h5 {
  font-size: 0.20rem;
}

h6 {
  font-size: 0.16rem;
}

p {
  font-size: 0.14rem;
}

input {
  outline: 0 none;
}

img, input {
  border: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

i {
  font-style: normal;
}

button, input[type="button"], input[type='submit'] {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:focus, button:focus, input:focus {
  outline: 0
}

input:input-placeholder,
textarea:input-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
}

::-ms-clear, ::-ms-reveal {
  display: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
}

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

html {
  font-size: 100px;
}

@media(max-width: 640px) {
  html {
    font-size: 85.33px;
  }
}

@media(max-width: 540px) {
  html {
    font-size: 72px;
  }
}

@media(max-width: 480px) {
  html {
    font-size: 64px;
  }
}

@media(max-width: 445px) {
  html {
    font-size: 60px;
  }
}

@media(max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media(max-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media(max-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media(max-width: 320px) {
  html {
    font-size: 42.67px;
  }
}
