$text-white: #ffffff;
$text-primary: #3A3955;
$text-secondary: #8C8B9F;
$text-blue: #3A71FF;

$background-header: linear-gradient(339.91deg, #33029B -2.33%, #1A124B 98.52%);
$background-white: #ffffff;
