$text-primary: #3A3955;
$text-secondary: #8C8B9F;
$text-dark-bg: #ffffff;

$background-header: linear-gradient(339.91deg, #33029B -2.33%, #1A124B 98.52%);
$background-primary: linear-gradient(100.62deg, #3A71FF 48.27%, rgba(121, 58, 255, 0) 203.77%);
$background-footer: #1B134C
